
.all
    width 100%
    height 100%
.cikhXQ
    text-decoration line-through 
    color #bbbbbb
    font-size .11rem
    margin-left -.05rem
    padding-right .07rem
.shopmain
    width 100%
    height 100%
    background rgb(244, 244, 248)
    display flex 
    flex-direction column 
    justify-content space-between
    .center
        flex
        width 100%
        position relative
        display flex
        flex-direction column
         
        .moresvg
            width .3rem
            height .3rem
            background #333
            opacity .5
            position absolute
            border-radius 50%
            right .1rem
            top .1rem
            .more
                padding-top .04rem
                padding-left .05rem
        .backsvg
            width .3rem
            height .3rem
            background #333
            border-radius 50%
            position absolute
            left .08rem
            top .1rem
            opacity .5
            .back   
                padding-top .04rem
                padding-left .05rem
        .topimg 
            width 100%
            height 3.75rem
            img 
                width 100%
                height 100%
    .biqBpV
        width 100%
        height .46rem
        background #fff
        display flex
        color #6b6b6b
        .Home
            flex 138
            display flex
            flex-direction column
            align-items center
            justify-content center
            font-size .1rem
        .PopShoppingCart
            flex 138
            display flex
            flex-direction column
            justify-content center
            align-items center
            font-size .1rem
        .sc-eerKOB
            flex 443
            display flex 
            justify-content center
            align-items center
            font-size .12rem
            .eBSgt
                flex 178
                height 100%
                text-align center
                line-height .46rem
            .eSPJkQ
                flex 264
                height 100%
                text-align center
                line-height .46rem
                background #ff464e
                color #fff
.bTQvTk
    width 100%
    height 1.09rem
    background #fff
    padding .12rem .13rem .1rem .13rem
    .eBHHsD
        width 100%
        height .34rem
        display flex
        justify-content space-between
        align-items center
        .caepzu
            min-width .85rem
            span:nth-child(1)
                height .54rem
                span
                    height auto
                    color #ff464e
                    font-size .25rem
                    span 
                        font-size .15rem
            span:nth-child(2)
                width .24rem 
                height .13rem
        span 
            font-size .1rem
            min-width .7rem
            color #999
            
             
    .gnqCN
        width 100%
        height .41rem
        padding-top .03rem
        display flex
        p 
            flex 618
            height 100%
            line-height .41rem
        svg 
            flex 46
.content
    .hoFmJx
        margin-top .1rem
        background #fff
        display flex 
        flex-direction column
.dQnXyl
    width 100%
    height .46rem
    padding 0 .13rem
    line-height .46rem
    display flex
    align-items center
    border-bottom 2px solid #eee
    .dDeMti
        flex 620
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        color #333
        .iXUUuH
            background #ff464e
            padding .01rem
            font-size .11rem
            color #ffffff
            margin-right .08rem
        .sc-fAjcbJ
            font-size .13rem
    svg 
        flex 46
.fNYoVS
    width 100%
    height .46rem
    padding 0 .13rem
    line-height .46rem
    display flex
    align-items center
    .kZCgYS
        flex 620
        height 100%
        color #666
        font-size .13rem
        display flex 
        align-items center
        svg
            opacity .5
    svg     
        flex 46


.evvHOT
    display flex
    align-items center
    margin-right .1rem


.cyOSJK
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    background rgba(0,0,0,.45)
    .duugzz
        width 100%
        background #fff
        position absolute
        bottom 0
        height 4.67rem
        overflow visible
        .box
            width 100%
            height 100%
            display flex
            flex-direction column
            overflow visible
            .sc-iGrrsa
                width 100%
                height .78rem
                display flex
                position relative
                overflow visible
                .sc-bmyXtO
                    width 1rem 
                    position absolute
                    left .14rem
                    top -.4rem
                    img
                        width 1rem 
                        height 1.05rem
                .kLnIRP
                    width 2.25rem 
                    height .72rem
                    margin-left 1.26rem
                    margin-top  .06rem
                    .jHnhrY
                        color #ff464e
                        font-size .18rem
                    .bECJpj 
                        color #666
                        font-size 0.12rem
                        text-align left
                .CloesdSku
                    width .2rem


.classify
    width 100%
    padding 0 .14rem
    overflow hidden
    height 3.41rem
    .sc-kaNhvL
        width 100%
        overflow hidden    
        .djINZm
            color #333
            font-size .17rem
            text-align left 
        .dRKsrh
            width 100%
            overflow hidden
.kpMuTa
    float left
    width 1rem
    height .32rem
    line-height .32rem
    color #333
    border .01rem,#333
    overflow hidden
    white-space nowrap
    text-overflow ellipsis      
    font-weight 300
    margin .06rem 0.04rem 
    text-align center
.iGRxGB
    width 100%
    overflow hidden

.hzewHz
    width 100%
    height .3rem
    margin .3rem 0
    display flex
    justify-content space-between
    .gJDKLw
        text-align left 
        color #333
        font-size .16rem
        width .64rem
    .fecqhx
        width 1.04rem
        display flex
        .dGBIdN
            width .3rem
            height .3rem
            background #f7f7f7
            font-size .18rem
            color black
            text-align center
            border-left 0
            border-right 0
            border-top 0
            border-bottom 0
        .iMLzwQ
            width .45rem
            text-align center
            line-height .3rem
        .dcPVBu
            width .3rem
            height .3rem
            background #f7f7f7
            font-size .18rem
            color black
            text-align center
            border-left 0
            border-right 0
            border-top 0
            border-bottom 0
.ixMtuT
    height .48rem
    line-height .48rem
    font-size .17rem
    font-weight 400
    color #fff
    text-align center
    background #ff464e